<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Location Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<header th:insert="~{blocks/header_admin :: header}"></header>

<div class="container mt-5">
    <!-- Отображение ошибок -->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

    <!-- Добавление страны -->
    <h2>Add a New Country</h2>
    <form th:action="@{/countries/add}" th:object="${country}" method="post" class="mb-5">
        <div class="mb-3">
            <label for="countryName" class="form-label">Country Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="countryName" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Country</button>
    </form>

    <!-- Добавление города -->
    <h2>Add a New City</h2>
    <form th:action="@{/cities/add}" method="post" class="mb-5">
        <div class="mb-3">
            <label class="form-label">City Name</label>
            <input type="text" name="cityName" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Country ID</label>
            <input type="text" name="countryId" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Add City</button>
    </form>


    <!-- Добавление отеля -->
    <h2>Add a New Hotel</h2>
    <form th:action="@{/hotels/add}" method="post">
        <div class="mb-3">
            <label class="form-label">Название города</label>
            <input type="text" name="cityName" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Hotel Number</label>
            <input type="text" name="hotelNumber" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Адрес</label>
            <input type="text" name="address" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Описание</label>
            <input type="text" name="description" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="text" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-warning">Add Hotel</button>
    </form>
</div>
</body>
</html>
