<div th:fragment="hotelTable" xmlns:th="http://www.w3.org/1999/xhtml">
    <h3>Hotels</h3>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Номер</th>
            <th>Адрес</th>
            <th>Пароль</th>
            <th>Ранг</th>
            <th>Описание</th>
            <th>Город ID</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hotel : ${hotels}">
            <td th:text="${hotel.id}">1</td>
            <td>
                <a href="#" th:text="${hotel.number}" th:attr="data-id=${hotel.id}" class="hotel-link text-decoration-none"></a>
            </td>
            <td th:text="${hotel.address}">Адрес</td>
            <td th:text="${hotel.password}">***</td>
            <td th:text="${hotel.hotelRank}">5</td>
            <td th:text="${hotel.description}">Описание</td>
            <td th:text="${hotel.city.id}">2</td>
            <td>
                <a  th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{'/edit/' + ${hotel.id}}" class="btn btn-sm btn-primary">Изменение</a>
                <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{'/hotels/delete/' + ${hotel.id}}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Удалить</a>
                <button class="btn btn-sm btn-success enter-hotel-btn"
                        th:if="${#authorization.expression('hasRole(''ROLE_WORKER'')')}"
                        th:onclick="'location.href=\'/hotel-panel/access?hotelId=' + ${hotel.id} + '\';'">
                    Войти
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
