<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить бронирование</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 max-auto rounded border p-4">
            <h2 class="text-center mb-4">Забронировать номер</h2>
            <hr>

            <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong th:text="${message}"></strong>
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Закрыть"></button>
            </div>

            <form method="post" th:action="@{/book/add-booking}">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Номер комнаты</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="roomNumber" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Имя</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="firstName" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Фамилия</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="lastName" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Дата рождения</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" name="dateOfBirth" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Номер паспорта</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="passportNumber" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Дата заезда</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" name="checkInDate" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Дата выезда</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" name="checkOutDate" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Общая сумма</label>
                    <div class="col-sm-8">
                        <input type="number" step="0.01" class="form-control" name="totalAmount" required />
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Номер карты</label>
                    <div class="col-sm-8">
                        <input type="number" step="0.01" class="form-control" name="cardNumber" required />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">CVV</label>
                    <div class="col-sm-8">
                        <input type="text" step="0.01" class="form-control" name="cvv" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                    <div class="col-sm-4 d-grid">
                        <a href="/" class="btn btn-outline-primary">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
